<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
    <ul class="menu-item clearfix">
      <li class="heading"><h6>Hosted by</h6></li>
      <li class="item-cck"><a href="http://cckorea.org" class="cck logo">CC Korea</a></li>
    </ul>
		<ul class="menu-item gold clearfix">
			<li><h6>Gold sponsor</h6></li>
		{% for sponsor in site.data.sponsors %}
      {% if sponsor.level == 'gold' %}
      <li class="item-{{ sponsor.title_en | handleize  }}"><a class="{{ sponsor.title_en | handleize }} logo" href="{{ sponsor.url }}" {% if sponsor.url contains 'http' %}target="_blank"{% endif %}>{{ sponsor.title_en }}</a></li>
      {% endif %}
    {% endfor %}
		</ul>
    <ul class="menu-item silver clearfix">
      <li><h6>Silver sponsors</h6></li>
    {% for sponsor in site.data.sponsors %}
      {% if sponsor.level == 'silver' %}
      <li class="item-{{ sponsor.title_en | handleize }}"><a class="{{ sponsor.title_en | handleize }} logo" href="{{ sponsor.url }}" {% if sponsor.url contains 'http' %}target="_blank"{% endif %}>{{ sponsor.title_en }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul class="menu-item bronze clearfix">
      <li class="heading"><h6>Bronze sponsor</h6></li>
    {% for sponsor in site.data.sponsors %}
      {% if sponsor.level == 'bronze' %}
      <li class="item-{{ sponsor.title_en | handleize }}"><a class="{{ sponsor.title_en | handleize }} logo" href="{{ sponsor.url }}" {% if sponsor.url contains 'http' %}target="_blank"{% endif %}>{{ sponsor.title_en }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul class="menu-item media clearfix">
      <li class="heading"><h6>Media sponsor</h6></li>
    {% for sponsor in site.data.sponsors %}
      {% if sponsor.level == 'media' %}
      <li class="item-{{ sponsor.title_en | handleize }}"><a class="{{ sponsor.title_en | handleize }} logo" href="{{ sponsor.url }}" {% if sponsor.url contains 'http' %}target="_blank"{% endif %}>{{ sponsor.title_ko }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul class="menu-item partner clearfix">
      <li class="partner heading"><h6>Partner</h6></li>
      <li><a href="http://english.sharehub.kr" target="_blank"><img src="{{ site.url }}/images/sharehub.png" alt=""></a></li>
      <li class="gift heading"><h6>Gift sponsors</h6></li>
      <li><a href="http://www.band.us" target="_blank"><img src="{{ site.url }}/images/band.png" alt="naver band"></a></li>
      <li><a href="http://www.kakao.com" target="_blank"><img src="{{ site.url }}/images/kakao.png" alt="kakao"></a></li>
      <li><a href="http://www.socar.kr" target="_blank"><img src="{{ site.url }}/images/socar.png" alt="socar"></a></li>
    </ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">{{ site.time | date: '%Y' }} Creative Commons Korea. Some Rights Reserved.<br />Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licences/by/2.0/kr" target="_blank">Creative Commons Attribution 2.0 License.</a><br />
  <a class="github" target="_blank" href="https://github.com/creativecommonskorea/cckcon3"><i class="fa fa-github-alt"></i></a> Codes of this website are also free to use.</p>
  <a class="license" rel="license" href="http://creativecommons.org/licenses/by/2.0/kr/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/2.0/kr/88x31.png" /></a>


</footer>
