<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}/en{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}{% if page.url == link.url %} class="active"{% endif %}>{{ link.title }}</a></li>
    <!-- <li>{% if page.url == link.url %} Active {% endif %}</li> -->
  {% endfor %}
    <li><a class="lang" href="/">한국어</a></li>
    <a target="_blank" href="{{ site.data.conf.register_url_en }}" class="btn-inverse register">Register</a>
</ul>
