<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}{% if page.url == link.url %} class="active"{% endif %}>{{ link.title }}</a></li>
    <!-- <li>{% if page.url == link.url %} Active {% endif %}</li> -->
  {% endfor %}
    <li><a class="lang" href="/en/">English</a></li>
</ul>
