<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="subject" content="2014 CC Korea 국제 컨퍼런스">
    <meta name="title" content="2014 CC Korea 국제 컨퍼런스">
    <meta name="author" content="Creative Commons Korea">
    <meta name="keywords" content="Creative Commons Korea, Internationl Conference, Share, Connect, Creativity, Sharing City, Civic Hacking{% if page.tags %}, {{ page.tags | join: ', ' }} {% endif %}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <script src="{{ site.url }}/js/vendor/jquery.min.js"></script>
    <script src="/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#owl-example").owlCarousel({
          autoPlay: 3000, //Set AutoPlay to 3 seconds
          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
        });
      });
    </script>
    <script src="{{ site.url }}/js/main.js"></script>

    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

  </head>

  <body class="home">
    {% if site.google.analytics %}
      {% include google-analytics.html %}
    {% endif %}

    {% include header.html %}
    {% include navigation-sliding.html %}

    {% if page.image.feature %}
    <div class="page-lead splash" style="background-image:url({{ site.url }}/images/{{ page.image.feature }});">
      <div class="wrap page-lead-content">
        <h4><span>2014 CC korea 세 번째 국제 컨퍼런스</span></h4>
        <h1><span>모든 것을 공유하고,</span><br /><span>모든 것을 연결하라</span><span class="sup">끝</span></h1>
        <h1 class="thanks"><span>함께 해주셔서 감사합니다.</span></h1>
        <!-- <h2>Ferrum Hall @ Ferrum Tower 3F (Junggu Suhadong, Seoul, South Korea)</h2> -->
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    <div class="page-lead desc">
      <div class="wrap page-lead-content">
        <div class="content">
          {{ content }}
        </div>
      </div>
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->

    <div id="page-wrapper">
      {% include browser-upgrade.html %}
    </div>

    <div class="program-header">
      <div class="wrap">
        <a class="more" href="/programs/">more ></a>
        <h3>Programs (영상 및 발표자료)</h3></div>
    </div>

    <div class="program-content clearfix">
      <div class="tiles wrap">
          {% include session.html %}
      </div><!-- /.tiles -->
    </div>

    <div class="program-header">
      <div class="wrap">
        <a target="_blank" class="more" href="https://www.flickr.com/photos/wowcckorea/sets/72157647330022998/">more ></a>
        <h3>Pictures of the day</h3></div>
    </div>

    {% include carousel.html %}

    <div class="speaker-header">
      <div class="wrap"><a class="more" href="/speakers/">more ></a><h3>Speakers</h3></div>
    </div>

    <div class="speaker-content clearfix">
      <div class="tiles wrap">
      {% for speaker in site.data.speakers limit:6 %}
        {% include speaker.html %}
      {% endfor %}
      </div><!-- /.tiles -->
    </div>

    {% include footer.html %}

  </body>

</html>
