<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="subject" content="2014 International conference of Creative Commons Korea">
    <meta name="title" content="2014 International conference of Creative Commons Korea">
    <meta name="author" content="Creative Commons Korea">
    <meta name="keywords" content="Creative Commons Korea, Internationl Conference, Share, Connect, Creativity, Sharing City, Civic Hacking{% if page.tags %}, {{ page.tags | join: ', ' }} {% endif %}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title_en }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph-en.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="{{ site.url }}/css/easy-responsive-tabs.css">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="alternate" hreflang="ko" href="/">

    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->
    {% if site.google.analytics %}
      {% include google-analytics.html %}
    {% endif %}
  </head>

  <body class="home en">

    {% if page.image.feature %}
    <div class="page-lead splash" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1 class="thanks"><span>Thanks to all the participants</span></h1>
        <h1><span>Share Everything,</span><br /><span>Connect Everything</span></h1>
        <h2><span>2014 CC korea International Conference</span></h2>
        <h2><span>16 September 2014</span></h2>
        <!-- <h2>Ferrum Hall @ Ferrum Tower 3F (Junggu Suhadong, Seoul, South Korea)</h2> -->

      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    {% include header-en.html %}
    {% include navigation-sliding-en.html %}

    <div class="page-lead desc">
      <div class="wrap page-lead-content">
        <div class="content">
          {{ content }}
        </div>
      </div>
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->

    <div id="page-wrapper">
      {% include browser-upgrade.html %}
    </div>

    <div class="speaker-header">
      <div class="wrap"><a class="more" href="/en/speakers/">more ></a><h3>Speakers</h3></div>
    </div>

    <div class="speaker-content wrap clearfix">
      <div class="tiles">
      {% for speaker in site.data.speakers limit:8 %}
        {% include speaker-en.html %}
      {% endfor %}
      </div><!-- /.tiles -->
    </div>

    {% include footer-en.html %}

    <script src="{{ site.url }}/js/vendor/jquery.min.js"></script>
    <script src="{{ site.url }}/js/vendor/easyResponsiveTabs.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>

  </body>

</html>
