---
layout: default
---

{% assign vimeo_id = page.vimeo | remove: 'https://vimeo.com/' %}
{% assign slideshare_id = page.slideshare | remove: 'http://www.slideshare.net/cckslide/ss-' %}

<div class="program clearfix">

  <div class="tile-two-third">
    {% include vimeo.html %}
    {{ content }}

    <h5>그래픽 레코딩</h5>
    <p><a target="_blank" href="{{ page.flickr }}"><img src="{{ page.flickr_img }}" alt=""></a></p>

    <h5>발표 자료</h5>
    {% include slideshare.html %}

  </div>

  <div class="tile-one-third">
    <h5>발표자</h5>
    <ul class="profile">
      <li>{{ page.speaker }}</li>
      {% for speaker in site.data.speakers %}
        {% if speaker.name_ko == page.speaker %}
          {% assign title = speaker.title_ko %}
          <li>{{ title }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    {% assign current = page.session | minus: 1 %}
    {% assign session_title = site.data.sessions[current].title %}
    <h5>세션 {{ page.session }}. {{ session_title }}</h5>
    {% assign speeches = site.program | sort: 'id' %}
    <ul>
    {% for speech in speeches %}
      {% if speech.session == page.session %}
      <li>
        {% if speech.id == page.id %}
          <span class="active">{{ speech.title }}</span>
        {% else %}
          <a href="{{ speech.url }}">{{ speech.title }}</a>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>
